# Node modules
node_modules/

# Angular build
dist/
.angular/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Environment files
.env

# IDE files
.idea/
.vscode/

# Coverage
coverage/