# Dependencies
node_modules/

# Build output
dist/
build/
.angular/
.cache/
*.tsbuildinfo

# Env / secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE
.idea/
.vscode/

# Coverage
coverage/

# Expo / React Native
.expo/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Never commit binary SQLite DBs
*.db
*.db-shm
*.db-wal
